# node modules & cache
.idea/

# package,json
package-old.json
package-new.json
yarn.lock
# package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn
.yarnrc
.yarnrc.yaml
.yarnrc.yml
# pnpm-lock.yaml
.pnpm-store/
/.pnpm-store

# dependencies
node_modules/
optimizer/node_modules/
optimizer/yarn.lock
/.pnp
.pnp.js

# testing
/coverage

# build
/out/
out/
.next
.next/
dist/
fw/
.fw/

# misc / macos
.DS_Store

# IDEs and code editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Storage
storage
./storage
storage/**/*
!storage/containers
!./storage/containers
!./storage/containers/**/*
!storage/note.txt

# public/uploads
./redis_data/*
redis_data/
public/logs
redis_data/
# /public.__image-compressed__
!public/assets/images/nextjs-starter-banner.png

# credentials
keys
# diginext-new.json
# dx.json

# local env files
.env.dev
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# docker
!templates/deployment.yaml
docker-compose*.yaml
!docker-compose.example.yaml
!templates/docker-compose*.yaml
Dockerfile.podman

# kubernetes
deployment.yaml
deployment-*.yaml
deployment.*.yaml

00-namespace.yaml
01-cert-secret.yaml
02-cert-issuer.yaml
03-certificate.yaml
04-ingress.yaml
05-podman-fuse-device-plugin.yaml
gcloud-secret.yaml

# diginext
dx.json

# exclude examples
!*.example.yaml

# dev api
thunder-tests/
thunder-tests/**

.temp