# Ignore artifacts:
dist
coverage
thunder-tests
redis_data
storage
**/storage/**

.next
**/.next
node_modules
**/node_modules
.yarn
.out
**/.out
.turbo

**/.git

*.js

*.yaml
**/*.yaml
*.yml
**/*.yml
**/templates/**
KUBECONFIG

# __tests__/**
# **/__tests__/**

podman/**/*
**/podman/**
*.conf
podman/
